<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<%- messages() %>

<div class="management"><br>
  <h2>Welcome <%- user.name %></h2><br>
  <p>You're logged in</p><br>
  <a href="/account/update">Edit Account Information</a><br>
<br>
  <% if (user.userType == "Admin" || user.userType == "Employee") { %>
    <h3>Inventory Management</h3>
    <a href="/inv/">Manage Inventory</a>
    <% } %>
    <% if (user.userType === "Client") { %>
      <div class="work-with-us">
        <p>Do you want to work with us? 
          <a href="/account/apply">Click here</a> and fill in this form to apply.
        </p>
      </div>
    <% } %>
    
  
</div>