<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>



<div class="login-form">
  <form id="login-form" action="/account/" method="post">
    <label>Email:
      <input type="email" name="account_email" id="account_email" required value="<%= locals.account_email %>">
    </label>
    <label>Password:
      <input type="password" id="account_password" name="account_password" required minlength="12"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{12,}"
      title="Must be at least 12 characters long and include a number, an uppercase letter, and a special character.">
    </label>
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
    <button type="submit">LOGIN</button>
    <p>No account? <a href="/account/register">Sign-up</a></p>       
  </form>
</div>